<div class="text-center">
  <h1>MagicButton</h1>
  <h3>Meal-planning and grocery-shopping made simple</h3>
  <button class="btn btn-success" ng-click="">Get Started</button>
  <hr/>
  <h3>About MagicButton</h3>
  <div class="row">
    <div class="col-sm-4">
      <h4>Upload Your Meals</h4>
      <p>"Write down" your list for the last time! Create a name for each meal and list the ingredients you need from the store. We'll store this information for you, and you can adjust it anytime.</p>
    </div>
    <div class="col-sm-4">
      <h4>Select Tags for Meals</h4>
      <p>Assign tags to meals, to allow for easy customization of meal-planning. For example, tag certain meals as "Fast" and select that tag for the nights your schedule is busiest.</p>
    </div>
    <div class="col-sm-4">
      <h4>One Click Meal Planning</h4>
      <p>Create your meal plan and grocery list with one click. Confirm it, and we'll email you the grocery list, so you're ready to shop!</p>
    </div>
  </div>
</div>