<h1>Signup</h1>
<h4>Users must create an account in order to save your meal plan on MagicButton</h4>
<form>
  <div class="form-group">
    <label for="email">
    <input type="email" class="form-control" id="email" placeholder="example@example.com">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">
    <input type="password" class="form-control" id="password" placeholder="hunter23">
    <small id="passwordHelp" class="form-text text-muted">Your password should be at least 8 characters. We recommended you use numbers or special characters, as well.</small>
  </div>
</form>